# Visual Studio files
*.sln
*.suo
*.user
*.csproj
*.csproj.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
bin/

# NuGet Packages
*.nupkg
packages/
*.nuget.targets
*.nuget.props

# Other files and folders
Thumbs.db
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pubxml
*.Publish.xml
*.cache
*.css.map
*.css.map.json
*.js.map
*.js.map.json
*.sln.ide
*.vssscc
*.svclog
*.csproj.nuget.cache
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
*.pubxml.user
*.debug.js
*.min.js
*.min.css
*.min.map
*.config.user
_UpgradeReport_Files/
UpgradeLog.htm
*.psess
*.rdl.data
*.rdl.lay
*.rdl.nav
*.rptproj.rsuser
*.rptproj.user
*.ndoc
*.DocStates.suo

# Ignore packages.config in project root but not in subdirectories
# So that nuget restore will still work on open solution
!/packages.config
/*/*/packages.config